@font-face {
    font-family: 'Karla';
    src: url('../fonts/static/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/static/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
}